<!DOCTYPE html>

<html>

<head>
 <%- include('template/header') %>
</head>

<body>
  <%- include('template/navbar_admin')%>
  <section class="admin__banner">
    <h1>新增獎項</h1>
  </section>
  <% const {id, title, content, imgURL, chance} = lottery %>
  <section class="admin__section">
    <form method="POST" action="/update/<%=id%>" class="form__content">
      <div class="card__submit">
        <span>獎項名稱
          <h6>最多請輸入五個字</h6>
        </span>
        <input type="text" name="title" value="<%=title%>">
      </div>
      <div class="card__submit">
        <span>獎項敘述
         <h6>最多請輸入三十個字</h6>
        </span>
        <input type="text" name="content" value="<%=content%>">
      </div>
      <div class="card__submit">
        <span>圖片網址
          <h6>上傳圖片功能陸續更新中</h6>
        </span>
        <input type="text" name="imgURL" value="<%= imgURL%>">
      </div>
      <div class="card__submit">
        <span>抽獎機率
          <h6>請設定百分比內容</h6>
        </span>
        <input type="number" name="chance" value="<%= chance%>">
      </div>
      <div class="card__submit_btn">
        <button class="admin__btn btn" type="submit">確認編輯</button>
      </div>
    </form>
  </section>
  <%- include('template/footer_admin')%>
  </body>

</html