<!DOCTYPE html>

<head>
<%- include('template/header') %>
</head>
<body>
<%- include('template/navbar') %>
<%- include('template/banner') %>
  <div class="article__contents">
    <% articles.forEach(({id, title}) => { %>
      <div class="article__content">
        <div class="article__title"><%= title %></div>
        <div class="article__info">
          <div class="article__time"></div>
          <a href="/read/<%= id%>">READ</a>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="paginator">
  <%if(articles.length>0) {%>
    <% if (page !== 1) { %>
      <a href="/articles/<%=1%>">首頁</a>
      <a href="/articles/<%= page-1 %>">上一頁</a>
    <% } %>
    <% if (page !== totalPage) { %>
      <a href="/articles/<%= page+1 %>">下一頁</a>
      <a href="/articles/<%=totalPage%>">最末頁</a>
    <% } %>
  <% } %>
  </div>
<%- include('template/footer') %> 
</body>d
</html>