<!DOCTYPE html>

<head>
  <%- include('template/header') %>
</head>
<body>
  <%- include('template/navbar') %>
  <%- include('template/banner') %>
  <form method="POST" action="/register" class="contents">
    <div class="content__login">
      <h1>Register</h1>
      <h5><%= errorMsg %></h5>
      <div class="card__submit">
        <span>USERNAME</span>
        <input type="text" name="username">
      </div>
      <div class="card__submit">
        <span>PASSWORD</span>
        <input type="password" name="password">
      </div>
      <div class="card__btn">
        <input type="submit" value="註冊帳號">
      </div>
    </div>
  </form>
  <%- include('template/footer') %> 
</body>
</html>